---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout>
	<Header />
	<section class="w-full flex justify-center items-center">
		<img src="./images/DSC_8287.webp" alt="Imagen de Cris y Jose" class="w-[75%] aspect-[16/9] object-cover" />
	</section>
	<section class="w-full py-24 font-inter font-light tracking-tighter text-center items-center flex flex-col gap-10 justify-center">
		<p class="text-[64px] font-infant font-normal max-w-[1150px] leading-none text-center">Después de muchos años de amor, complicidad y mil aventuras compartidas...</p>
		<p class="text-[32px] max-w-[800px] text-center">Nos hace especial ilusión invitaros a formar parte de uno de los días más mágicos de nuestra vida.</p>
	</section>
	<section class="w-full flex justify-center items-center py-24">
		<div class="rotate-12 flex flex-col items-center justify-center bg-white w-fit rounded-lg">
			<img src="./images/DSC_7670.webp" alt="Imagen de Cris y Jose" class=" border-[24px] rounded-lg border-white w-[600px] aspect-[9/13] object-cover" />
			<div class="flex flex-col items-center justify-center gap-0">
				<p class="font-infant text-[56px] text-center">Cris & Jose</p>

				<p class="font-infant text-[24px] pb-4 text-center">7 de Diciembre</p>
			</div>
		</div>
		
	</section>
	<section class="py-24 flex flex-col items-center justify-center gap-2">
		<p class=" font-infant text-[108px] flex items-center justify-center text-center">07/12/25</p>
		<p class=" font-infant text-[32px] flex items-center justify-center text-center">Nos reuniremos en la finca Son Termes</p>
	</section>
	<Carousel />
	<Form />
</Layout>
