<section class="pb-40 overflow-hidden relative">
  <div class="w-full overflow-hidden relative">
    <div class="flex w-max gap-5 carousel-track">
      <img src="./images/DSC_8005.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_7840.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9763.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9784.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_7670.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9814.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9778.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />

      <!-- duplicado -->
      <img src="./images/DSC_8005.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_7840.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9763.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9784.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_7670.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9814.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
      <img src="./images/DSC_9778.webp" alt="Imagen de Cris y Jose" class="w-[300px] object-cover border-white border-[16px]" />
    </div>

    <!-- overlays de fade -->
    <div class="absolute top-0 left-0 w-32 h-full bg-gradient-to-r from-white to-transparent pointer-events-none"></div>
    <div class="absolute top-0 right-0 w-32 h-full bg-gradient-to-l from-white to-transparent pointer-events-none"></div>
  </div>
</section>

<style>
.carousel-track {
  animation: scroll 23s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
</style>
