---
---
<section class="overflow-hidden relative bg-secondary text-accent w-full flex flex-col items-center gap-12 justify-center px-5 lg:px-0 py-10 lg:py-20">
    <img src="./pattern2.png" class="absolute w-full h-full top-0 left-0 object-cover opacity-20" alt="Fondo decorativo">
    <h2 class=" font-bold relative text-primary font-infant text-[40px] lg:text-[64px] text-center w-full">CONFIRMAR ASISTENCIA</h2>
  <form 
    id="contact-form" 
    class="lg:w-[750px] w-full relative bg-primary px-5 py-10 lg:px-10 flex flex-col gap-12 rounded-[20px] lg:rounded-[32px] font-inter" 
    action="https://script.google.com/macros/s/AKfycbx3p7rEcd6JAiG6wrhlhXTLZOhS4X3aTMMbEctmbMqL5z05Se9c9ijkIgUs3F4u2bxymA/exec" 
    method="POST" 
    target="hidden_iframe"
  >
    <input type="hidden" name="Fecha" value={new Date().toLocaleString('es-ES')}>
    <div class="flex flex-col gap-4">
        <h3 class="font-infant text-[20px] lg:text-[28px]">Nombre completo *</h3>
        <input type="text" name="Nombre" placeholder="Escribe tu nombre" required class=" border-b-2 border-accent bg-transparent">
    </div>
    <div class="flex flex-col gap-2">
        <h3 class="font-infant text-[20px] lg:text-[28px]">Restricciones alimenticias o alergias</h3>
        <input type="text" name="Intolerancias" placeholder="Escribe tus intolerancias" class=" border-b-2 border-accent bg-transparent">
    </div>
    <div class="flex flex-col gap-2">
        <h3 class="font-infant text-[20px] lg:text-[28px]">¿Vienes con acompañante?</h3>
        <input type="text" name="Acompanante" placeholder="Escribe el nombre del acompañante" class=" border-b-2 border-accent bg-transparent">
    </div>
    <div class="flex flex-col gap-2">
        <h3 class="font-infant text-[20px] lg:text-[28px]">¿Qué canción no debe faltar?</h3>
        <input type="text" name="Cancion" placeholder="Escribe una canción" class=" border-b-2 border-accent bg-transparent">
    </div>
    
    
    <button 
      type="submit" 
      id="submit-button"
      class="bg-secondary text-primary px-6 mt-6 py-3 rounded-full font-semibold hover:opacity-80 transition-colors duration-200"
      >
      <span id="button-text">CONFIRMAR ASISTENCIA</span>
    </button>
  
    <p id="form-status" class="font-infant text-[24px] w-full text-center mt-2"></p>
  </form>

  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1349.1062268779813!2d2.6592715279434964!3d39.66446552184378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297ed0bbdc4d193%3A0x91bbffd35ce42159!2sSon%20T%C3%A9rmens!5e0!3m2!1sca!2ses!4v1756837673998!5m2!1sca!2ses" class="relative pt-20 hidden lg:block" width="75%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1349.1062268779813!2d2.6592715279434964!3d39.66446552184378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297ed0bbdc4d193%3A0x91bbffd35ce42159!2sSon%20T%C3%A9rmens!5e0!3m2!1sca!2ses!4v1756837673998!5m2!1sca!2ses" class="relative pt-5 block lg:hidden" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  <script type="module">
    const form = document.getElementById('contact-form');
    const status = document.getElementById('form-status');
    const iframe = document.getElementById('hidden_iframe');
    const submitButton = document.getElementById('submit-button');
    const buttonText = document.getElementById('button-text');

    form.addEventListener('submit', () => {
      submitButton.classList.remove('bg-secondary');
      submitButton.classList.add('bg-accent');
      buttonText.textContent = "ENVIANDO...";
      submitButton.disabled = true;
      status.textContent = "";
    });

    iframe.addEventListener('load', () => {
      submitButton.classList.remove('bg-accent');
      submitButton.classList.add('bg-secondary');
      buttonText.textContent = "CONFIRMAR ASISTENCIA";
      submitButton.disabled = false;
      status.textContent = "¡Confirmación recibida!.";
      status.style.color = "green";
      form.reset();
    });
  </script>
</section>
