---
---

  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>

<style>
  @keyframes fly {
    0% {
      transform: translateX(-30dvw); /* Sale desde fuera de la izquierda */
    }
    100% {
      transform: translateX(100dvw); /* Se va por la derecha */
    }
  }

  .plane {
    animation: fly 8s ease-in infinite; /* Cambia duración y tipo de animación aquí */
  }
</style>

<div class="plane w-full overflow-hidden">
    <dotlottie-wc src="https://lottie.host/782ffcb5-0273-42ca-9f88-d73c692653db/RBDErfdr8C.lottie" 
    style="width: 300px;height: 300px"
    speed="1" 
    autoplay 
    loop>
    </dotlottie-wc>
</div>
